
a {
    text-decoration: none;
}
ul {
    list-style: none
}
* {
    padding: 0;
    margin: 0;
}
:root {
    --blue: #2196F3;
    --grey: #757575;
    --black: #212121;
    --white: #FFFFFF;
    --backgrd:#2F303A;
}
body {
    font-family: Roboto, sans-serif;   
}
.container {
    width: 1600px;
    margin: 0 auto;
  }
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}
h2 {
    font-weight: 700px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--black);
}
.logo-in-head {
    font-family: Raleway,  sans-serif;   
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    padding-right: 93px;
}
nav span {
    color: var(--blue);
}
.main-nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.domestic-nav a:hover {
    color: var(--blue);
}
.contact-nav a:hover {
    color: var(--blue);
}
.head {
    background: var(--backgrd);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1600px;
    height: 600px;   
}
.head button {
    font-family: inherit;
    color: var(--white);
    background: var(--blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    letter-spacing: 0.06em;
}
.nav-all {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0 215px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.domestic-nav {
    display: flex;
}
.domestic-nav a{
    color:  var(--black);
    padding-right: 50px;
}
.contact-nav {
    display: flex;
}
.contact-nav a{
    color: #b1b1b1;
    padding-left: 30px;
}
.advantages ul{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding: 94px 215px 0 215px;
}
.advantages li {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.advantages div {
    width: 270px;
    background-color: #F5F4FA ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantages p{
    color: var(--grey);
}
.advantages h3{
    color: var(--black);
}
.example {
    padding: 94px 0;
    height: 386px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.example ul{
    padding: 0 215px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.example h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.team{
    display: flex;
    flex-direction: column;
    height: 648px;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
}
.team h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.team ul {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team li {
    width: 270px;
    height: 368px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 1px 1px 2px #e0dfdf;
    border-radius: 4px;
}
.name {
    padding: 30px 0 10px 0;
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.duty {
    color: var(--gray);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.footer div {
    padding: 60px 215px;
}
.footer {
    background-color: var(--backgrd);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.logo-in-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:  var(--white);
    
}
.logo-in-footer span {
    color:  var(--blue);
} 
.address {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-top: 20px;
    color:  var(--white);
}
.address a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer ul {
    padding-top: 20px;
}
.footer li{
    padding-bottom: 9px;
}






/* Портфолио */
.div-portfolio {
    padding: 94px 215px;
    border-top: 1px solid #ECECEC;
}
.filters {
 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.filters li {
    padding-right: 8px;
}
.filters button {
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    color: var(--black);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.filters button:hover {
    color:  var(--white);
    background-color: var(--blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.list li {
    width: 370px;
    height: 404px;
    display: flex;
    flex-direction: column;
    border: 1px solid #EEEEEE;
    margin-top: 30px;

}

.list img {
    padding-bottom: 20px;
}
.list p {
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 24px ;
}
.portfolio-type {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--gray);
    
}
.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color:  var(--black);
    
}